{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Image processor</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
	</head>
	<body>
		<form  class="form">
			<div id="altered_image">
				{{ .ImageLink }}
			</div>
			<div>
				<label for="avatarInput">Select Image</label>
				<input type="file" class="form-control" id="imageInput" name="image" required>
			</div>

			<label for="algoInput">Choose an algorithm:</label>

			<select name="algo" id="algoInput">
				<option value="1">Lab1</option>
				<option value="2">Lab2</option>
				<option value="3">Lab3</option>
				<option value="4">RGR</option>
			</select>

			<button 
				hx-post="/upload" 
				hx-encoding="multipart/form-data" 
				hx-target="#altered_image" 
				type="submit" class=>Upload
			</button>
		</form>
	</body>
</html>
{{ end }}
